{% extends 'base.html' %}
{% block title %}

Consultar Carrito
{% endblock %}

{% block main %}
<h1> productos del carrito </h1>
<form action="/mostrarPedido" method="post">

    <table class="table table-striped">
        <th>Confirmar</th>
        <th>folio del producto </th>
        <th>nombre del producto</th>
        <th>descripción</th>
        <th>precio</th>
        <th>cantidad</th>
        <th>eliminar</th>
        <th>actualizar</th>
        
        {%for prod in cesta %}
        <tr>
            <td> <input type="checkbox" name="idCarrito" value="{{prod.idCarrito}}" class="form-control"></td>
            <td>{{prod.producto.id_prod}}</td>
            <td>{{prod.producto.nombre}}</td>
            <td>{{prod.producto.descripcion}}</td>
            <td>{{prod.producto.precio}}</td>
            <td>{{prod.cantidad}}</td>
            <td><a href="/eliminarProductoCarr/{{prod.idCarrito}}">eliminar</a></td>
            <td><a href="/actualizarProductoCarrito/{{prod.idCarrito}}"> actualizar</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if cesta %}
    <input class="btn btn-primary mb-3" class="btn" class="btn btn-default" type="submit" value="consultar Pedido">
    {% endif %}
</form>
<ul>
    <li><a href="/productos"> regresar al menu de productos</a></li>
</ul>
{% endblock %}